a{
    color: green;
    text-decoration: none;
    transition: color 1s;
}
a:visited{
    color: blue;
}
a:active{
    color: orange;
}
a:hover{
    color: rgb(255, 0, 0);
}
a:focus{
    outline: 2px solid yellow;
}
