@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

@font-face {
    font-family: "Roboto";
    src: url(./assets/Roboto/Roboto-Medium.ttf);
}

body{
    font-family: "Doto", monospace;
}

p{
    font-family: "Roboto", Arial, sans-serif;
}

.oblique-font{
    font-style: oblique;
}
.italic-font{
    font-style: italic;
}
.size1{
    font-size: 1.7rem;
}
.size2{
    font-size: 16px;
}
.size3{
    font-size: 80%;
}
.size4{
    font-size: 2.5em;
}
.font-weight{
    font-weight: 800;
}
.text-transform1{
    text-transform: uppercase;
}
.text-transform2{
    text-transform: lowercase;
}
.text-transform3{
    text-transform:capitalize;
}
.text-decoration-line{
    text-decoration-line: overline;
}
.text-decoration-color{
    text-decoration-color: brown;
}
.text-decoration{
    text-decoration: underline wavy red;
}
.text-decoration4{
    text-decoration: line-through solid black;
}
.line-height{
    line-height: 50px;
}