*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav
{
    width: 100vw;
    height: 50px;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
}
nav a
{
    color:white;
    flex-basis: 50px;
}
/* @media screen and (max-width: 500px;){
    nav {
        padding: 0px;
        justify-content: space-evenly;
    };
} */
main
{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 50px;
}
aside
{
    background-color: gray;
    flex-grow: 15;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    min-width: 150px;
}
.main-section
{
    flex-grow: 80;
    background-color: rgb(17, 100, 58);
    flex-wrap: wrap;
    display: flex;
}
aside a
{
    margin-bottom: 15px;
    font-size: 1.5rem;
}
article
{
    display: flex;
    width: 300px;
    height: 300px;
    flex-direction: column;
    margin: 20px;
    border: 3px solid black;   
}