/*.some-box{
    width: 300px;
    height: 300px;
    background-color: yellow;
}


/* from 400px to 500 the yellow box turns green, try moving inspect element bar */
/*@media screen and (min-width: 400px) and (max-width: 500px){
    .some-box{
        background-color: green;
    }   
}
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: blanchedalmond;
    width: 50%;
}
body{
    background-color: black;
}
nav{
    width: 500vw;
    height: 4vh;
    background-color: aqua;
    position: fixed;
    top: 0;
    left: 0;
}
@media screen and (min-width:1200px) {
    main{
        width: 70%;
        margin: 0px auto;
    }
    nav{
        background-color: yellow;
    }
}